<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<bean class="winzinger.poc.tef.felixintegration.BundleContextPostProcessor" />
	
	<osgi:reference id="dummyServiceOsgi" interface="winzinger.poc.tef.dummyservice.DummyService" timeout="10000" cardinality="0..1"/>
	<osgi:reference id="greeterServiceOsgi" interface="senacor.hd.GreeterService" timeout="10000" cardinality="0..1"/>
	
	<bean id="someBean" class="winzinger.poc.tef.dummyservice.DummyBean">
		<property name="dummyService" ref="dummyServiceOsgi"/>
		<property name="greeterService" ref="greeterServiceOsgi"/>
	</bean>
</beans>